.header {
	padding: 21px 0 15px;
	background: #FFFFFF;
	&__btn-close {
		display: none;
		border: transparent;
        background-color: transparent;
	}
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header__menu {
	border: transparent;
	background: transparent;
}
.header__link {
	padding-left: 38px;
	background-image: url('../img/header-phone.png');
	background-repeat: no-repeat;
	background-size: contain;
	font-weight: 500;
	font-family: "Helvetica Neue Cyr-Medium";
	transition: color 0.200s ease;
	&:hover {
		color: $main-orange;
	}
}
.header__link-double {

	@media(max-width: 768px) {
		display: block;
		font-size: 18px;
		line-height: 24px;
		padding-left: 34px;
		margin-left: 19px;
		background-image: url('../img/header-phone.png');
		background-repeat: no-repeat;
		background-size: contain;
		font-weight: 500;
		font-family: "Helvetica Neue Cyr-Medium";
	}
	@media(max-width: 480px) {
		font-size: 14px;
		line-height: 20px;
		padding-left: 31px;
		margin-left: 10px;
	}
}
.header__button {
	transition: all 0.200s ease-in;
	&:hover {
		filter: opacity(0.5);
	}
	&:active {
		background: transparent;
		filter: opacity(1);
	}
}
@media (max-width: 1024px) {
	.header {
		padding: 30px 0 15px 0;
	}
	.header__logo {
		width: 18.7rem;
		height: 3.7rem;
	}
	.header__link {
		font-family: "Helvetica Neue Cyr-Medium";
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
	}
}
@media (max-width: 768px) {
	.header__link {
		display: none;
	}
}
@media (max-width: 480px) {
	.header {
		padding: 20px 0 15px 0;
	}
	.header__logo {
		width: 10rem;
		height: 2rem;
	}
}
