.help {
	padding: 90px 0;
	@media(max-width: 1024px) {
		padding: 70px 0;
	}
	@media(max-width: 768px) {
		padding: 60px 0;
	}
	@media(max-width: 510px) {
		padding: 30px 0;
	}
}
.help__title {
	font-family: "Comfortaa";
	font-size: 50px;
	line-height: 60px;
	font-weight: 400;
	color: $main-orange;
	text-align: center;
	margin-bottom: 50px;
	@media(max-width: 1024px) {
		font-size: 44px;
		line-height: 54px;
		margin-bottom: 40px;
	}
	@media(max-width: 768px) {
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 30px;
	}
	@media(max-width: 320px) {
		font-size: 20px;
		line-height: 24px;
		max-width: 270px;
		margin-bottom: 10px;
	}
	@media(max-width: 510px) {
		font-size: 20px;
		line-height: 24px;
		margin: 0 auto 10px;
		max-width: 270px;
	}
}
.help__list {
	counter-reset: count 0;
	font-family: "Comfortaa";
	font-size: 50px;
	line-height: 50px;
	font-weight: 400;
	color: $main-orange;
	list-style: none;
	gap: 50px;
}
.help__item {
	font-family: 'Helvetica Neue Cyr';
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	color: $main-color;
	margin-bottom: 50px;
	@media(max-width: 1024px) {
		margin-bottom: 30px;
	}
	@media(max-width: 768px) {
		margin-bottom: 45px;
	}
	@media(max-width: 510px) {
		margin-bottom: 30px;
	}
}
.help__img-two {
	@media(max-width: 1024px) {
		max-width: 180px;
		width: 100%;
		height: 139px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 300px;
		width: 100%;
		height: 209px;
		object-fit: cover;
	}
	@media(max-width: 510px) {
		// max-width: 170px;
		// width: 100%;
		// height: 131px;
		width: 170px;
		
		height: 131px;
	}
}
.help__img-three {
	@media(max-width: 1024px) {
		max-width: 280px;
		width: 100%;
		height: 289px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 380px;
		width: 100%;
		height: 391px;
		object-fit: cover;
	}
	@media(max-width: 510px) {
		width: 193px;
		height: 131px;
	}
}
.help__picture-img {
	@media(max-width: 768px) {
		display: none;
	}
}
.help__img-one {
	@media(max-width: 1024px) {
		max-width: 180px;
		width: 100%;
		height: 139px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 300px;
		width: 100%;
		height: 162px;
		object-fit: cover;
	}
	@media(max-width: 510px) {
		// max-width: 200px;
		// width: 100%;
		// height: 131px;
		width: 200px;
		
		height: 131px;
	}
}
.item-block-one {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media(max-width: 768px) {
		flex-direction: column;
	}
	@media(max-width: 768px) {
		gap: 30px;
	} 
	@media(max-width: 510px) {
		// gap: 20px;
		display: unset;
	}
}
.block-one-left {
	max-width: 480px;
	padding-left: 100px;
	margin-right: 20px;
	@media(max-width: 768px) {
		padding-left: 80px;
		max-width: unset;
		width: 100%;
	}
	@media(max-width: 510px) {
		padding-left: 58px;
		margin-bottom: 20px;
	}
}
.block-two-left {
	margin-right: 20px;
	@media(max-width: 768px) {
		margin-right: 0;
		width: 100%;
	}
}
.block-one {
	max-width: 580px;
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(2, auto);
	column-gap: 20px;
	row-gap: 10px;
	@media(max-width: 1024px) {
		row-gap: 0;
	}
	@media(max-width: 768px) {
		max-width: 700px;
		column-gap: 20px;
        row-gap: 10px;
	}
	@media(max-width: 510px) {
		display: flex;
		flex-direction: row;
		// flex-wrap: wrap;
		overflow: scroll;
		column-gap: 10px;
	}
}
.help__b-i-one {
	grid-column: 1/ 3;
	grid-row: 1 / 2;
}
.help__b-i-two {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
.help__b-i-three {
	grid-column: 3 / 7;
	grid-row: 1 / 3;
}
.help__br {
	@media(max-width: 1024px) {
		display: none;
	}
}
.item-block-two {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media(max-width: 768px) {
		flex-direction: column;
	}
}
.block-two-right {
	max-width: 580px;
	align-self: flex-end;
	margin-bottom: 30px;
	@media(max-width: 1024px) {
		max-width: 460px;
	}
	@media(max-width: 768px) {
		margin-bottom: 34px;
		max-width: unset;
		align-self: unset;
		padding-left: 80px;
	}
	@media(max-width: 510px) {
		padding-left: 58px;
	}
	@media(max-width: 510px) {
		margin-bottom: 20px;
	}
}
.item-block-three {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media(max-width: 768px) {
		flex-direction: column;
		gap: 30px;
	}
	@media(max-width: 510px) {
		// gap: 20px;
		display: unset;
	}
}
.block-three-left {
	padding-left: 100px;
	margin-right: 20px;
	@media(max-width: 768px) {
		width: 100%;
		padding-left: 80px;
		margin-right: 0;
	}
	@media(max-width: 510px) {
		padding-left: 48px;
		margin-bottom: 20px;
	}
}
.block-three-right {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(2, auto);
	column-gap: 20px;
    row-gap: 10px;
    max-width: 580px;
	@media(max-width: 1024px) {
		row-gap: 0;
	}
	@media(max-width: 768px) {
		max-width: unset;
		column-gap: 20px;
        row-gap: 10px;
	}
	@media(max-width: 510px) {
		display: flex;
		flex-direction: row;
		// flex-wrap: wrap;
		overflow: scroll;
		column-gap: 10px;
		margin-bottom: 30px;
	}
}
.help__img-block-two {
	@media(max-width: 1024px) {
		max-width: 400px;
		width: 100%;
		height: 349px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 700px;
		height: 385px;
	}
}
.help__img-o {
	grid-column: 1 / 4;
	grid-row: 1 / 3;
}
.help__img-t {
	grid-column: 4 / 7;
	grid-row: 1 / 2;
}
.help__img-th {
	grid-column: 4 / 7;
	grid-row: 2 / 3;
}
.help__cat {
	@media(max-width: 1024px) {
		max-width: 180px;
		width: 100%;
		height: 244px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 300px;
		width: 100%;
		height: 491px;
		object-fit: cover;
	}
	@media(max-width: 510px) {
		width: 130px;
		height: 160px;
	}
}
.help__cat-black {
	@media(max-width: 1024px) {
		max-width: 180px;
		width: 100%;
		height: 117px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 380px;
		width: 100%;
		height: 230px;
		object-fit: cover;
	}
	@media(max-width: 510px) {
		width: 225px;
		height: 160px;
	}
}
.help__dog-man {
	@media(max-width: 1024px) {
		max-width: 180px;
		width: 100%;
		height: 117px;
		object-fit: contain;
	}
	@media(max-width: 768px) {
		max-width: 380px;
		width: 100%;
		height: 241px;
		object-fit: cover;
	}
	@media(max-width: 510px) {
		width: 218px;
		height: 160px;
	}
}
.title {
	&::before {
		counter-increment: count;
		content: counter(count);
		border-radius: 50%;
		background: #ffffff;
		position: absolute;
		top: -15px;
		left: -100px;
		font-family: "Comfortaa";
		font-size: 50px;
		line-height: 50px;
		font-weight: 400;
		color: $main-orange;
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media(max-width: 768px) {
			width: 60px;
			height: 60px;
			font-size: 34px;
			line-height: 40px;
			left: -70px;
		}
		@media(max-width: 510px) {
			width: 38px;
			height: 38px;
			font-size: 24px;
			line-height: 30px;
			left: -48px;
			top: -6px;
		}
	}
	font-family: "Helvetica Neue Cyr-Medium";
	font-size: 30px;
	line-height: 40px;
	font-weight: 500;
	position: relative;
	@media(max-width: 1024px) {
		font-size: 24px;
		line-height: 30px;
	}
	@media(max-width: 768px) {
		font-size: 18px;
		line-height: 24px;
	}
	@media(max-width: 510px) {
		font-size: 16px;
		line-height: 22px;
	}
}
.help__subtitle-volunteer {
	padding-left: 100px;
	margin-bottom: 50px;
	&::before {
		counter-increment: count;
		content: counter(count);
		position: absolute;
		top: -15px;
		left: -2px;
		@media(max-width: 510px) {
			top: -6px;
		}
	}
	@media(max-width: 1024px) {
		margin-bottom: 60px;
	}
	@media(max-width: 768px) {
		padding-left: 80px;
		margin-bottom: 10px;
	}
	@media(max-width: 510px) {
		padding-left: 58px;
	}
}
.help__subtitle-finance {
	margin-bottom: 20px;
	@media(max-width: 1024px) {
		margin-bottom: 30px;
	}
	@media(max-width: 768px) {
		margin-bottom: 10px;
	}
}
.help__subtitle-opekun {
	margin-bottom: 20px;
	title {
		margin-bottom: 20px;
	}
	@media(max-width: 768px) {
		margin-bottom: 10px;
	}
}
.help__picture-img-dubl {
	display: none;
	@media(max-width: 768px) {
		display: block;
	}
}
.help__element {
	font-family: 'Helvetica Neue Cyr-light';
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	&_finance {
		max-width: 380px;
		@media(max-width: 1024px) {
			max-width: 280px;
		}
		@media(max-width: 768px) {
			max-width: 620px;
		}
	}
	&_volunteer {
		max-width: 580px;
		@media(max-width: 1024px) {
			max-width: 460px;
		}
		@media(max-width: 768px) {
			max-width: 620px;
		}
	}
	@media(max-width: 1024px) {
		font-size: 18px;
		line-height: 26px;
	}
	@media(max-width: 768px) {
		font-size: 14px;
		line-height: 20px;
	}
}
.help__element_opekun {
	max-width: 466px;
	@media(max-width: 1024px) {
		max-width: 380px;
	}
	@media(max-width: 768px) {
		max-width: 620px;
	}
}
.help__element_text_weight {
	font-family: "Helvetica Neue Cyr-Medium";
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 20px;
	max-width: 480px;
	@media(max-width: 1024px) {
		font-size: 18px;
		line-height: 26px;
		max-width: 280px;
		margin-bottom: 29px;
	}
	@media(max-width: 768px) {
		margin-bottom: 10px;
		max-width: 620px;
		font-size: 14px;
		line-height: 20px;
	}
}
.help__block-btn {
	display: flex;
	justify-content: center;
	transition: all 0.200s ease-in, color 0.200s ease-in;
	&:hover {
		filter: opacity(0.9);
	}
	&:active {
		filter: opacity(0.8);
	}
}
.help__btn {
	font-family: "Helvetica Neue Cyr-Medium";
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: $main-orange;
	text-transform: uppercase;
	width: 180px;
	height: 155px;
	@media(max-width: 1024px) {
		font-size: 12px;
		line-height: 18px;
		height: 126px;
	}
	@media(max-width: 510px) {
		font-size: 8px;
		line-height: 12px;
		max-width: 84px;
		height: 78px;
	}
}
.help__button {
	padding-top: 111px;
	background-image: url('../img/lapa.png');
	background-repeat: no-repeat;
	background-position: top 0 right 35px;
	border: transparent;
	align-items: center;
	background-color: transparent;
	@media(max-width: 1024px) {
		background-image: url('../img/lapa-1024.png');
		background-position: top center;
		padding-top: 80px;
	}
	@media(max-width: 510px) {
		background-image: url('../img/lapa-320.png');
		padding-top: 54px;
	}
}
