.pets {
	padding: 90px 0 45px 0;
	background-color: #ffffff;
	@media(max-width: 1024px) {
		padding: 70px 0 35px 0;
	}
	@media(max-width: 768px) {
		padding: 60px 0 30px 0;
	}
	@media(max-width: 480px) {
		padding: 40px 0 20px 0;
	}
	// &__container {
	// 	position: relative;
	// }

	&__title {
		font-family: "Comfortaa";
		font-weight: 400;
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 50px;
		@media(max-width: 1024px) {
			font-size: 44px;
			line-height: 50px;
			margin-bottom: 40px;
		}
		@media(max-width: 768px) {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 32px;
		}
		@media(max-width: 480px) {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: auto auto;
		grid-template-areas: 
		"one one one one one two two two three three three three"
        "four four four five five five six six three three three three";
		row-gap: 44px;
		column-gap: 20px;
		@media(max-width: 1024px) {
			grid-template-columns: repeat(9, auto);
			grid-template-areas: 
				"one one one one two two three three three"
				"four four five five six six three three three";
				row-gap: 62px;
		}
		@media(max-width: 768px) {
			display: flex;
		}
	}

	&__item {
		@media(max-width: 768px) {
			// display: flex;
			// justify-content: center;
			// margin: 0 auto;
			width: 540px;
			
		}
		
		&_one {
			grid-area: one;
		}

		&_two {
			grid-area: two;
		}

		&_three {
			grid-area: three;
		}

		&_four {
			grid-area: four;
		}

		&_five {
			grid-area: five;
		}

		&_six {
			grid-area: six;
		}
	}

	&__img {
	
		width: 100%;
		object-fit: cover;
		
		@media(max-width: 768px) {
			object-fit: cover;
		}
		@media(max-width: 480px) {
			object-fit: contain;
		}
		&_one { 
			height: 280px;
			@media(max-width: 1024px) {
				height: 201px;
			}
			@media(max-width: 768px) {
				height: 368px;
				width: 540px;
				object-position: bottom 0 right -27px;
			}
			@media(max-width: 480px) {
				height: 184px;
				object-position: left;
			} 
		}
		&_two { 
			height: 280px;
			@media(max-width: 1024px) {
				height: 201px;
			}
			@media(max-width: 768px) {
				height: 368px;
				width: 459px;
			}
			@media(max-width: 480px) {
				height: 184px;
				object-position: left;
			} 
		}
		&_three { 
			height: 650px;
			object-position: left;
			@media(max-width: 1024px) {
				height: 478px;
			}
			@media(max-width: 768px) {
				height: 368px;
				width: 280px;
			}
			@media(max-width: 480px) {
				height: 184px;
				object-position: center;
			} 
		}
		&_four {
			height: 280px;
			@media(max-width: 1024px) {
				height: 180px;
			}
			@media(max-width: 768px) {
				height: 368px;
				width: 394px;
			}
			@media(max-width: 480px) {
				height: 184px;
				object-position: left;
			} 
		}
		&_five {
			height: 280px;
			@media(max-width: 1024px) {
				height: 180px;
			}
			@media(max-width: 768px) {
				height: 368px;
				width: 295px;
			}
			@media(max-width: 480px) {
				height: 184px;
				object-position: left;
			} 
		}
		&_six {
			height: 280px;
			@media(max-width: 1024px) {
				height: 280px;
			}
			@media(max-width: 768px) {
				height: 368px;
				width: 237px;
			}
			@media(max-width: 480px) {
				height: 184px;
			} 
		}
	}

	&__figure {
		@media(max-width: 768px) {
			// max-width: 540px;
			margin: 0 auto;
		}
		
		&_one {
			max-width: 480px;
			width: 100%;
			@media(max-width: 1024px) {
				max-width: 100%;
			}
			@media(max-width: 768px) {
				max-width: 540px;
			}

		}

		&_two {
			max-width: 280px;
			width: 100%;
			@media(max-width: 1024px) {
				max-width: 100%;
			}
			@media(max-width: 768px) {
				max-width: 459px;
				// max-width: 540px;
			}
		}

		&_three {
			max-width: 380px;
			width: 100%;
			@media(max-width: 1024px) {
				max-width: 100%;
			}
			@media(max-width: 768px) {
				max-width: 280px;
				// max-width: 540px;
			}
		}

		&_four {
			max-width: 280px;
			width: 100%;
			@media(max-width: 1024px) {
				max-width: 100%;
			}
			@media(max-width: 768px) {
				max-width: 394px;
				// max-width: 540px;
			}
		}

		&_five {
			max-width: 280px;
			width: 100%;
			@media(max-width: 1024px) {
				max-width: 100%;
			}
			@media(max-width: 768px) {
				max-width: 295px;
				// max-width: 540px;
			}
		}

		&_six {
			max-width: 180px;
			width: 100%;
			@media(max-width: 1024px) {
				max-width: 100%;
			}
			@media(max-width: 768px) {
				max-width: 237px;
				// max-width: 540px;
			}
		}
	}

	&__figcaption {
		padding-top: 12px;
		font-size: 20px;
		line-height: 26px;
		@media(max-width: 1024px) {
			font-size: 18px;
			line-height: 24px;
			padding-top: 0;
		}
		@media(max-width: 480px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
.swiper {
    @media (max-width: 768px) {
        // position: relative;
        // margin: 0 auto;
        // overflow: hidden;
        // max-width: 700px;
        // height: 410px;
        // @media (max-width: 730px) {
        //     max-width: 296px;
        //     height: 214px;
        //     padding-left: 12px;
        // }
    }
}
.swiper-slide {
	@media(max-width: 768px) {
		// max-width: 540px;
	}
}
.slider-container {
	position: relative;
	@media(max-width: 768px) {
		max-width: 700px;
		margin: 0 auto;
	}
	@media(max-width: 320px) {
		max-width: 270px;
		// height: 214px;
	}
}
.btn-swiper {
	background-color: transparent;
	border: transparent;
	width: 54px;
	height: 54px;
	z-index: 6;
	position: absolute;
	@media(max-width: 720px) {
		width: 36px;
		height: 36px;
	}
	@media(max-width: 480px) {
		width: 26px;
		height: 26px;
	} 
}
.button-left {
	display: none;
	// width: 54px;
	// height: 54px;
	
		@media(max-width: 768px) {
			display: block;
			
			
			// left: calc(50% - 27);
			// top: calc(50% - 27);
			// z-index: 5;
			top: calc(50% - 27px);
			left: 0;
		}
		@media(max-width: 720px) {
			top: calc(50% - 18px);
		}
		@media(max-width: 480px) {
			top: calc(50% - 13px);
		}
	
}
.button-right {
	display: none;
	// width: 54px;
	// height: 54px;
	@media(max-width: 768px) {
		display: block;
		top: calc(50% - 27px);
		right: 0;

	}
	@media(max-width: 720px) {
		top: calc(50% - 18px);
	}
	@media(max-width: 480px) {
		top: calc(50% - 13px);
	}
}
.btn-svg {
	@media(max-width: 720px) {
		width: 36px;
		height: 36px;
	}
	@media(max-width: 480px) {
		width: 26px;
		height: 26px;
	}
}