.sara {
	padding: 15px 0 90px;
	background: #FFFFFF;
}
.container {
	position: relative;
}
.container-sara {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 580px;
	@media(max-width: 768px) {
		position: relative;
	}
}
.sara__wrapper-title {
	z-index: 12;
	@media(max-width: 768px) {
		position: absolute;
		top: 0;
		left: 15px;
	}
	@media(max-width: 640px) {
		max-width: 469px;
	}
}
.sara__title {
	font-family: "Comfortaa-Light";
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 60px;
	max-width: 410px;
	z-index: 10;
}
.sara__title-orange {
	color: $main-orange;
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 60px;
	z-index: 10;
}
.wrapper-text {
	display: flex;
	flex-direction: column;
	z-index: 3;
	gap: 81px;
	margin-bottom: 25px;
	align-self: flex-end;
}
.wrapper-dog {
	&::after {
		content: "";
		background-image: url('../img/sara-dog.png');
		background-image: -webkit-image-set(
			url('../img/sara-dog.avif') 1x,
			url('../img/sara-dog.webp') 1x,
			url('../img/sara-dog.png') 1x
		);
		background-image: image-set(
			url('../img/sara-dog.avif') 1x,
			url('../img/sara-dog.webp') 1x,
			url('../img/sara-dog.png') 1x
		);
		background-repeat:no-repeat;
		background-position: center;
		width: 580px;
		height: 580px;
		position: absolute;
		top: 0;
		right: 300px;
		@media (max-width: 1090px) {
			background-image: url('../img/sara-dog@1024.png');
			background-image: -webkit-image-set(
				url('../img/sara-dog@1024.avif') 1x,
				url('../img/sara-dog@1024.webp') 1x,
				url('../img/sara-dog@1024.png') 1x
			);
			background-image: image-set(
				url('../img/sara-dog@1024.avif') 1x,
				url('../img/sara-dog@1024.webp') 1x,
				url('../img/sara-dog@1024.png') 1x
			);
			width: 416px;
			height: 416px;
			top: 67px;
			background-position: bottom center;
		}
	}
}
.wrapper-name-animals {
	margin-right: 100px;
	max-width: 180px;
	padding-top: 100px;
	z-index: 10;
	@media (max-width: 1024px) {
		margin-right: 0;
		padding-top: 0;
		margin: auto 0;
	}
	@media (max-width: 820px) {
		margin: 0;
		padding-top: 141px;
	}
	@media (max-width: 768px) {
		padding-top:200px;
	}
}
.sara__block-btn {
	display: flex;
	align-self: center;
	z-index: 10;
	max-width: 180px;
	height: 155px;
	transition: all 0.200s ease-in, color 0.200s ease-in;
	&:hover {
		filter: opacity(0.9);
	}
	&:active {
		filter: opacity(0.8);
	}
	@media(max-width: 820px) {
		align-self: start;
	}
	@media(max-width: 768px) {
		margin-top: 201px;
	}
	@media(max-width: 640px) {
		margin-top: 0;
	}
}
.sara__element {
	font-family: "Helvetica Neue Cyr-Light";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	@media (max-width: 1024px) {
		font-size: 18px;
		line-height: 24px;
	}
}
.sara__btn {
	font-family: "Helvetica Neue Cyr-Medium";
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: $main-orange;
	text-transform: uppercase;
	z-index: 9;
}
.sara__button {
	padding-top: 111px;
	background-image: url('../img/lapa.png');
	background-repeat: no-repeat;
	background-position: top 0 right 35px;
	border: transparent;
	align-items: center;
	background-color: transparent;
}
.btn-animals {
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: "Helvetica Neue Cyr-Light";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	width: 180px;
	border: transparent;
	background-color: transparent;
	transition: border 0.200s ease-in, color 0.200s ease-in;
	&:hover {
		border: 1px solid $main-orange;
	}
	&:active {
		border: 1px solid $main-orange;
		color: $main-orange;
	}
	@media(max-width: 820px) {
		max-width: 140px;
		height: 60px;
	}
}
.sara__item {
	&:not(:last-child) {
		margin-bottom: 30px;
		@media(max-width: 1024px) {
			margin-bottom: 20px;
		}
		@media(max-width: 820px) {
			margin-bottom: 15px;
		}
	}
}
.sara-container {
	display: none;
}
.modal-order {
	&:before {
		content: '';
		background: rgba(0, 0, 0, 0.67);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	z-index: 52;
	position: fixed;
	top: calc(50% - 300px);
	left: calc(50% - 400px);
}
.sara__modal-knopa {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 20px;
	right: 25px;
	z-index: inherit;
}
.form-wrapper-i {
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
}
.form-wrap {
	background: $main-background;
	border-radius: 20px;
	margin: 0 auto;
	width: 780px;
	height: 562px;
}
.form-wrapper {
	text-align: center;
	padding: 50px 100px;
}
.sara__title-modal {
	font-family: "Comfortaa-Bold";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	color: $main-orange;
	margin-bottom: 30px;
}
.sara__element-indent {
	margin-bottom: 60px;
}
.sara__element_color_orange {
	font-family: "Helvetica Neue Cyr-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: $main-orange;
	margin-bottom: 20px;
}
.sara__link {
	font-family: "Helvetica Neue Cyr-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: $main-color;
	padding-left: 38px;
}
.sara__link_tel {
	background-image: url("../img/phone.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 45px;
	width: 177px;
}
.sara__link_email {
	background-image: url("../img/email.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 245px;
}
.sara__subtitle {
	font-family: "Helvetica Neue Cyr-Light";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: $main-color;
	margin-bottom: 20px;
}
.form-field {
	display: inline-block;
}
.form-field__label {
	font-family: "Helvetica Neue Cyr-Light";
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: $main-color;
	text-align: start;
	display: block;
}
.form-field__input {
	width: 280px;
	height: 40px;
	background: #FFFFFF;
	border: transparent;
	transition: 0.200s ease-in;
	&:hover {
		border: 1px solid $main-color;
		filter: opacity(0.3);
	}
	&:active {
		border: 1px solid $main-color;
		filter: opacity(1);
	}
}
.sara__btn-modal {
	font-family: "Helvetica Neue Cyr-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	border: transparent;
	background-color: transparent;
	text-transform: uppercase;
	padding-top: 73px;
	color: $main-orange;
}
.sara__btn-img {
	background-image: url("../img/lapka.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 73px;
	transition: all 0.200s ease-in, color 0.200s ease-in;
}
.sara__btn-lapa {
	display: block;
	text-align: end;
	&:hover {
		filter: opacity(0.9);
	}
	&:active {
		filter: opacity(0.8);
	}
}
.form__modal-knopa {
	transition: all 0.200ms ease-in;
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 1;
	}
}
@media (max-width: 1024px) {
	.sara {
		padding: 15px 0 70px 0;
	}
	.container-sara {
		height: 450px;
	}
	.sara__title-orange {
		font-size: 44px;
		line-height: 54px;
	}
	.sara__title {
		font-size: 30px;
		line-height: 44px;
		max-width: 300px;
		height: 182px;
	}
	.wrapper-text {
		gap: 13px;
		align-self: center;
		margin-bottom: 0;
	}
	.sara__block-btn {
		width: 148px;
		height: 126px;
	}
	.sara__btn {
		font-size: 12px;
		line-height: 18px;
	}
	.sara__button {
		padding-top: 90px;
		background-image: url(../img/lapa-1024.png);
	}
	.wrapper-dog {
		&::after {
			background-position: center;
			top: 14px;
			right: 232px;
		}
	}
}
@media (max-width: 820px) {
	.sara {
		padding: 15px 0 60px 0;
	}
	.container-sara {
		height: 498px;
	}
	.wrapper-text {
		padding-left: 0;
		margin-bottom: 0;
		align-self: center;
	}
	.sara__title-orange {
		font-size: 40px;
		line-height: 44px;
	}
	.sara__title {
		font-size: 24px;
		line-height: 30px;
		width: unset;
		height: 182px;
	}
	.sara__button {
		padding-top: 80px;
		background-image: url(../img/lapa-768.png);
	}
	.sara__i {
		width: 60px;
		height: 60px;
	}
	.sara__block-btn {
		width: 145px;
		height: 120px;
	}
	.wrapper-dog {
		&::after {
			width: 420px;
			height: 416px;
			right: 140px;
			top: 75px;
			background-position: center;
		}
	}
}

@media(max-width: 768px) {
	.wrapper-text {
		align-self: start;
		gap: 0;
	}

	.sara__title {
		height: unset;
		display: inline;
	}
}
@media (max-width: 640px) {
	.sara__item:not(:last-child){
		margin-bottom: 0;
	}
	.sara__item {
		width: 60px;
		height: 85px;
	}
	.btn-animals {
		flex-direction: column;
		gap: 5px;
	}
	.container-sara {
		min-height: 730px;
		flex-direction: column-reverse;
		justify-content: unset;
		gap: 25px;
	}
	.sara__list {
		display: flex;
		flex-direction: row;
	}
	.wrapper-name-animals {
		padding-top: 0;
	}
	.wrapper-dog::after {
		right: 105px;
	}
	.btn-animals {
		width: 60px;
		height: 96px;
		gap: 0;
	}
	.wrapper-name-animals {
		max-width: 375px;
		margin: 0 auto;
	}
	.sara__list {
		gap: 45px;
	}
	.wrapper-text {
		align-self: center;
	}
}
@media (max-width: 460px) {
	.sara {
		padding: 15px 0 40px 0;
	}
	.container-sara {
		min-height: 536px;
		gap: 20px;
	}
	.sara__wrapper-title {
		max-width: 270px;
	}
	.sara__title-orange {
		font-size: 26px;
		line-height: 44px;
	}
	.sara__title {
		font-size: 18px;
		line-height: 26px;
	}
	.sara__list {
		gap: 10px;
	}
	.sara__block-btn {
		width: 84px;
		height: 78px;
	}
	.sara__btn {
		font-size: 8px;
		line-height: 12px;
	}
	.sara__button {
		padding-top: 55px;
		background-image: url(../img/lapa-320.png);
		background-position: center top;
	}
	.wrapper-dog {
		&::after {
			background-image: url('../img/sara-dog@320.png');
			background-image: -webkit-image-set(
				url('../img/sara-dog@320.avif') 1x,
				url('../img/sara-dog@320.webp') 1x,
				url('../img/sara-dog@320.png') 1x
			);
			background-image: image-set(
				url('../img/sara-dog@320.avif') 1x,
				url('../img/sara-dog@320.webp') 1x,
				url('../img/sara-dog@320.png') 1x
			);
			width: 270px;
			height: 266px;
			right: 60px;
			top: 79px;
			background-position: center;
		}
	}
}
@media (max-width: 320px) {
	
	.wrapper-dog {
		&::after {
			right: 26px;
			background-position: center;
		}
	}
}
